main {
    padding-top: 36px;
}

.first_heading {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}

.second_heading {
    font-size: 224px;
    line-height: 0.8;
    font-weight: 700;
    margin-bottom: 24px;
}

.responsiveImg {
    width: 100%;
    height: auto;
    max-width: 720px;
}

.yearClass {
    font-size: 68px;
    color: #cc0000;
    font-weight: 700;
    text-align: center;
}

.benefits {
    font-size: 32px;
    text-align: center;
    padding: 32px;
}

/* Styles for Mobile */
@media screen and (max-width: 520px) {
    .first_heading {
        font-size: 32px;
    }

    .second_heading {
        font-size: 96px;
    }
}